In [ ]:
print('M\ne\nl\no\nd\ni\ne')

M
e
l
o
d
i
e

In [ ]:
print(20, 'Outubro', 2001)

20 Outubro 2001

In [ ]:
print('Ano Atual:', 2025)

Ano Atual: 2025

In [ ]:
print('Vou adivinhar seu nome\n')
nome = input('Digite seu nome: ')
print(f'Olá, {nome}')

Vou adivinhar seu nome

Digite seu nome: Melodie
Olá, Melodie

In [ ]:
print('Vou adivinhar sua idade\n')
nome = str(input('Digite seu nome: '))
idade = int(input('Digite sua idade: '))
print(f'Olá, {nome}, você tem {idade} anos.')

Vou adivinhar sua idade

Digite seu nome: Melodie
Digite sua idade: 23
Olá, Melodie, você tem 23 anos.

In [ ]:
num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o segundo número: '))
num3 = int(input('Digite o terceiro número: '))
def soma (valor1, valor2, valor3):
  soma = valor1 + valor2 + valor3
  return soma
print(f'A soma é: {soma(num1, num2, num3)}')

Digite o primeiro número: 1
Digite o segundo número: 1
Digite o terceiro número: 1
A soma é: 3

In [ ]:
num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o segundo número: '))
def multi (valor1, valor2):
  multi = valor1 * valor2
  return multi
print(f'A multiplicação é: {multi(num1, num2)}')

Digite o primeiro número: 45
Digite o segundo número: 98
A multiplicação é: 4410

In [ ]:
num = float(input('Digite o numerador: '))
den = float(input('Digite o denominador (Não pode ser 0): '))
def dividint (valor1, valor2):
  dividint = valor1/valor2
  return int(dividint)
print(f'A divisão é: {dividint(num, den)}')

Digite o numerador: 7
Digite o denominador (Não pode ser 0): 6
A divisão é: 1

In [ ]:
op = int(input('Digite o operador: '))
pot = int(input('Digite a potência: '))
def exponence (valor1, valor2):
  exponence = valor1**valor2
  return float(exponence)
print(f'A exponencial é: {int(exponence(op, pot))}')

Digite o operador: 5
Digite a potência: 89
A exponencial é: 161558713389263216900730999039766999165387955626995369268740096

In [ ]:
num = float(input('Digite o numerador: '))
den = float(input('Digite o denominador (Não pode ser 0): '))
def divid (valor1,valor2):
  divid = valor1/valor2
  return float(divid)
print(f'A divisão é: {divid(num, den)}')

In [ ]:
frase = str(input('Insira a frase: '))
print(f'{frase.replace('e','f')}')

Insira a frase: eu te amo
eu te fodo

## Estruturas de Repetição

In [ ]:
num1 = int(input('Insira o primeiro número: '))
num2 = int(input('Insira o segundo número: '))
def contador (x, y):
  for i in range(x,y+1):
    print(i)
contador(num1, num2)

Insira o primeiro número: 1
Insira o segundo número: 2
1
2

In [ ]:
qtdColoniaA = 4
qtdColoniaB = 10
dias = 0
def calculardias (popA, popB, tempo):
  while popA < popB:
    popA = popA + (popA*0.03)
    popB = popB + (popB*(0.015))
    tempo += 1
  return print(f'População A: {popA},\nPopulação B: {popB}.\nLevou {tempo} dias.')
calculardias(qtdColoniaA, qtdColoniaB, dias)

População A: 25.75165514029833,
População B: 25.54822084811115.
Levou 63 dias.

In [ ]:
for i in range (1, 16):
  print(f'Usuário {i}')
  nota = input('\nInsira a nota de 0 a 5: ')
  while type(nota) == str:
    print('Inserção Inválida!')
    nota = input(f'\nUsuário {i}\n\nInsira um valor válido! (De 0 a 5): ')
  notaConverted = float(nota)
  while notaConverted < 0 or notaConverted > 5:
    print('\nNota inválida!')
    notaConverted = float(input(f'\nUsuário {i}\n\nInsira um valor válido! (De 0 a 5): '))
  print(f'\nUsuário {i}, Nota dada: {notaConverted}\n')

In [ ]:
lista = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
def media (valor1):
  media = sum(valor1)/len(valor1)
  print(f'A média é: {media}')
media (lista)

A média é: 3144.222

In [ ]:
comprasmaisde3000 = 0
totalcompras = 0
lista = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

for compra in lista:
  if compra > 3000.00:
    comprasmaisde3000 += 1
    porcentagem = int((comprasmaisde3000/len(lista))*100)
print(f'O total foi de {comprasmaisde3000} compras acima de 3000, um percentual de {porcentagem}% em relação a todas as compras.')

O total foi de 7 compras acima de 3000, um percentual de 70% em relação a todas as compras.

In [ ]:
lista = [1,4,7,2,4]
for i in lista:
  print(i)

1
4
7
2
4